:root {
  --pastel-red: #ff6f91;
  --pastel-green: #6fffb0;
  --pastel-blue: #6a8dff;
  --pastel-yellow: #ffd86f;
  --pastel-cyan: #6fffe9;
  --pastel-magenta: #ff6fe9;

  color-scheme: light dark;
  --bg: light-dark(#ffffff, #000000);
  --text: light-dark(#000000, #ffffff);
  --alt-bg: light-dark(#000000, #ffffff);
  --alt-text: light-dark(#ffffff, #000000);
}

/* Header Styling */
header.site-header {
  display: flex;
  padding: 1rem 1rem;
  align-items: center;
  text-align: center;
  background: var(--alt-bg);
  color: var(--alt-text);
}
.header-logo {
  flex: 1;
}
.header-text {
  flex: 8;
}
.header-menu {
  flex: 1;
}

/* Main Content Styling */
h1,
h2,
h3 {
  font-family: Garamond, serif;
}
body {
  font-family: Garamond, serif;
  background-color: var(--bg);
  color: var(--text);
  line-height: 1.6;
}
main {
  max-width: 900px;
  margin: auto;
  padding: 20px;
}

/* Footer Styling */
footer {
  background-color: var(--alt-bg);
  color: var(--alt-text);
  text-align: center;
  padding: 1rem;
}
